* {
	margin: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	background: url('img/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
/*.blurbg {
	filter: blur(2px);
	-webkit-filter: blur(2px);
	background-color: (255,255,255,0.3);
}*/
header {
	width: auto;
	text-align: center;
	padding-bottom: 10px;
	margin: 0 auto;
}
a {
	font-family: 'Helvetica Neue';
	font-weight: 100;
	font-size: 80px;
	color: #ff0080;
}
h1 {
	font-family: 'Helvetica Neue';
	font-weight: 100;
	font-size: 50px;
	color: #ff0080;
}
.container {
	text-align: center;
	vertical-align: middle;
	margin: 0 auto -40px;
	width: 450px;
	height: 800px;
/*	min-height: 100%;
	height: auto !important;
	height: 100%;*/
}
#gameboard {
/*	margin: 0 auto;*/
	margin-bottom: 30px;
	width: 300px;
}
.column {
	display: inline-block;
	height: auto;
	width: 100px;
	margin: -2px;
	padding: none;
}
.cell {
	width: 100px;
	height: 100px;
	max-width: 100px;
	max-height: 100px;
	text-align: center;
}
.top {

}
.middle {
	border-top: 1px solid #ff0080;
	border-bottom: 1px solid #ff0080;
}
.bottom {

}
.left {

}
.center {
	border-left: 1px solid #ff0080;
	border-right: 1px solid #ff0080;
}
.right {

}
.simplebtn {
	background: none;
	border: none;
	font-size: 40px;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	color: #ff0080;
}
.push {
	height: 40px;
}
footer {
	background-color: #fdfdfd;
	padding: 40px;
	font-size: 30px;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	width: auto;
	height: 40px;
}
footer a:link, footer a:visited, footer a:hover {
	color: #efefef;
	font-size: 30px;
	text-decoration: none;
}