* html, body {
	height: 100%;
	background-color: #232323;
	min-width: 450px;
}
#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em;}

#supersized { position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img{ width:auto; height:auto; position:relative; outline:none; border:none; }
	
#supersized a { z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; display:block; }
header {
	width: auto;
	text-align: center;
	padding-bottom: 10px;
	margin: 0 auto;
	border-top: 2px solid #fdd654;
}
a {
	font-family: 'Helvetica Neue';
	font-weight: 100;
	font-size: 80px;
	color: #fdd654;
}
h1 {
	font-family: 'Helvetica Neue';
	font-weight: 100;
	font-size: 50px;
	color: #fdd654;
}
.menu {
	position: absolute;
	top: 25%;
	margin: 0 auto;
	width: 450px;
}
.container {
	text-align: center;
	vertical-align: middle;
	margin: 0 auto -40px auto;
	width: 450px;
	height: 800px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
#gameboard {
	margin: 0 auto;
	margin-bottom: 30px;
	max-width: 300px;
	visibility: hidden;
}
.column {
	display: inline-block;
	height: auto;
	width: 80px;
	margin: -2px;
	padding: none;
}
.cell {
	width: 80px;
	height: 80px;
	max-width: 80px;
	max-height: 80px;
	text-align: center;

	font-family: 'Helvetica Neue';
	font-weight: 100;
	font-size: 60px;
	color: #fdd654;
}
.top {

}
.middle {
	border-top: 1px solid #fdd654;
	border-bottom: 1px solid #fdd654;
}
.bottom {

}
.left {

}
.center {
	border-left: 1px solid #fdd654;
	border-right: 1px solid #fdd654;
}
.right {

}
.simplebtn {
	background: none;
	border: none;
	font-size: 40px;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	color: #fdd654;
}
#startgame {
	text-align: center;
}
#playr1 {
	text-align: center;
	display: none;
}
#playr2 {
	text-align: center;
	display: none;
}
#playagainbtn {
	visibility: hidden;
}
.push {
	height: 140px;
}
footer {
	background-color: rgba(253, 253, 253, 0.2);
	padding: 40px;
	font-size: 30px;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	width: auto;
	height: 40px;
}
footer a:link, footer a:visited, footer a:hover {
	color: #efefef;
	font-size: 30px;
	text-decoration: none;
}

@media (max-width: 450px){
	* html, body {
		background-size: 450px;
	}
}