* html, body {
	height: 100%;
	background-color: #232323;
	background: url('img/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-width: 450px;
}
header {
	width: auto;
	text-align: center;
	padding-bottom: 10px;
	margin: 0 auto;
}
a {
	font-family: 'Helvetica Neue';
	font-weight: 100;
	font-size: 80px;
	color: #fdd654;
}
h1 {
	font-family: 'Helvetica Neue';
	font-weight: 100;
	font-size: 50px;
	color: #fdd654;
}
.menu {
	position: absolute;
	top: 50%;
	margin: 0 auto;
	width: 40%;
}
#start {
	text-align: center;
}
.container {
	text-align: center;
	vertical-align: middle;
	margin: 0 auto -40px auto;
	width: 450px;
	height: 800px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
#gameboard {
	margin: 0 auto;
	margin-bottom: 30px;
	max-width: 300px;
	visibility: hidden;
}
.column {
	display: inline-block;
	height: auto;
	width: 80px;
	margin: -2px;
	padding: none;
}
.cell {
	width: 80px;
	height: 80px;
	max-width: 80px;
	max-height: 80px;
	text-align: center;

	font-family: 'Helvetica Neue';
	font-weight: 100;
	font-size: 60px;
	color: #fdd654;
}
.top {

}
.middle {
	border-top: 1px solid #fdd654;
	border-bottom: 1px solid #fdd654;
}
.bottom {

}
.left {

}
.center {
	border-left: 1px solid #fdd654;
	border-right: 1px solid #fdd654;
}
.right {

}
.simplebtn {
	background: none;
	border: none;
	font-size: 40px;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	color: #fdd654;
}
#startgame {
	text-align: center;
	/*margin-top:40%;*/
	visibility: visible;
}
#playagain {
	visibility: hidden;
}
.push {
	height: 84px;
}
footer {
	background-color: rgba(253, 253, 253, 0.2);
	padding: 40px;
	font-size: 30px;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	width: auto;
	height: 40px;
}
footer a:link, footer a:visited, footer a:hover {
	color: #efefef;
	font-size: 30px;
	text-decoration: none;
}

@media (max-width: 450px){
	* html, body {
		background-size: 450px;
	}
}